<h2 mat-dialog-title>
  {{ data.country_id ? 'Edit Country' : 'Add Country' }}
  <button mat-icon-button (click)="close()" matSuffix class="add-button"><mat-icon>close</mat-icon></button>
</h2>



<div>
    <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width1">
          <mat-label>Country Name</mat-label>
          <input matInput [(ngModel)] ="this.countryData.country_name" [disabled]="this.isCountryDisabled && this.countryData.id !=0">
          <button matSuffix class="small-edit-button"  mat-icon-button (click)="this.toggleCountry()" *ngIf="this.isCountryDisabled && this.countryData.id !=0">
            <mat-icon>edit</mat-icon>
          </button>   
          <button matSuffix  mat-icon-button (click)="this.updateCountry()"  *ngIf="!this.isCountryDisabled && this.countryData.id !=0">
            <mat-icon>save</mat-icon>
          </button>   
        </mat-form-field>
       
      </td>
        <td><mat-form-field class="example-full-width1">
          <mat-label>Capital City</mat-label>
          <input matInput [(ngModel)] = "this.countryData.capital" [disabled]="this.isCapitalDisabled &&  this.countryData.id !=0">
          <button matSuffix  mat-icon-button (click)="this.toggleCapital()"  *ngIf="this.isCapitalDisabled &&  this.countryData.id !=0">
            <mat-icon>edit</mat-icon>
          </button> 
          <button matSuffix  mat-icon-button (click)="this.updateCapital()"  *ngIf="!this.isCapitalDisabled &&  this.countryData.id !=0">
            <mat-icon>save</mat-icon>
          </button>          
        </mat-form-field></td>
      </tr>      
    </table>


<div class="scrollable-form" *ngIf="(data.country_id)">
  <h3 mat-dialog-title>Cities
  <button class="add-button" matSuffix [hidden]="this.addCityButtonPressed" mat-icon-button (click)="addCity()">
    <mat-icon>add</mat-icon>
  </button>
  <button class="add-button" matSuffix [hidden]="!this.addCityButtonPressed" mat-icon-button (click)="revertAdd()">
    <mat-icon>cancel</mat-icon>
  </button>
</h3>
  <div *ngFor="let city of listOfCities; let i = index">
    <mat-form-field class="example-full-width">
      <input matInput  [disabled]="!showButtons[i]" [(ngModel)]="city.name" type="text">
      <button matSuffix mat-icon-button  (click) = "editButton(i)"  *ngIf="!showButtons[i] && city.id!=0">
        <mat-icon>edit</mat-icon>
        
      </button>
      <button matSuffix mat-icon-button (click)="saveCity(city)"  *ngIf="showButtons[i]">
        <mat-icon>save</mat-icon></button>
      <button matSuffix mat-icon-button (click)="deleteCity(city)"  *ngIf="showButtons[i] && city.id!=0">
        <mat-icon>delete</mat-icon></button>
    </mat-form-field>
  </div>
</div>
 

    <button matSuffix mat-button [disabled] = "disabledButton(this.countryData.country_name, this.countryData.capital)"(click)="onSubmit()" *ngIf="!(data.country_id)">Submit</button>   
</div>

