<h2 mat-dialog-title *ngIf="(data.country_id)">Edit Country</h2>
<h2 mat-dialog-title *ngIf="!(data.country_id)">Add Country</h2>
<div>
    <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width">
          <mat-label>Country Name</mat-label>
          <input matInput [(ngModel)] ="this.countryData.country_name">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <mat-label>Capital City</mat-label>
          <input matInput [(ngModel)] = "this.countryData.capital">
        </mat-form-field></td>
      </tr>
    </table>

    <button class="button" mat-button (click)="onSubmit()" *ngIf="!(data.country_id)">Submit</button>
    <button class="button" mat-button (click)="onUpdate()" *ngIf="(data.country_id)">Update</button>
    <button mat-flat-button (click)="close()">Close</button>
   
</div>

