mat-list {
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Add spacing between mat-list-items */
  mat-list-item {
    margin-bottom: 8px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  

  .add-button {
    display: flex;
    justify-content: flex-end; 
    float: right;
    padding-right: 1%;
   }

   .menu-button{
    position: absolute; /* Position the button relative to the viewport */
    right: 10px;
     }
